<div class="awards">
	<h2>awards</h2>
	<div class="table-responsive">
		<table class="table table-sm table-borderless">
			<tr>
				<td>
					<p style="text-align:left;">
						Gold Metal, International Genetically Engineered Machine Competition (iGEM)
						<span style="float:right;">2020</span>
					</p>
					<p style="text-align:left;margin-top:-10px">
						Bronze Prize, CCF Collegiate Computer Systems Programming Contest (CCSP), National Final
						<span style="float:right;">2019</span>
					</p>
					<p style="text-align:left;margin-top:-10px">
						8th place, China Collegiate Programming Contest (CCPC), Guangdong Province
						<span style="float:right;">2019</span>
					</p>
					<p style="text-align:left;margin-top:-10px">
						Outstanding Club Leader, Microsoft Student Club, Awarded by Microsoft Research Asia (MSRA)
						<span style="float:right;">2020</span>
					</p>
				</td>
			</tr>
		</table>
	</div>
</div>