<div class="education">
	<h2>education</h2>
	<div class="table-responsive">
		<table class="table table-sm table-borderless">
			<tr>
				<td>
					<img style="float:left;" src="assets/img/epfl-logo.svg" alt="EPFL" width="70" height="70">
					<div style="margin-left:80px;">
						<p style="text-align:left;">
							<b>École polytechnique fédérale de Lausanne (EPFL)</b>
							<span style="float:right;">Coming</span>
						</p>
						<p style="margin-top:-15px;">
							Soon-to-be PhD student in Computer Science
							<span style="float:right;">Switzerland</span>
						</p>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<img style="float:left;" src="assets/img/sysu-logo.png" alt="SYSU" width="70" height="70">
					<div style="margin-left:80px;">
						<p style="text-align:left;">
							<b>Sun Yat-sen University</b>
							<span style="float:right;">09.2018 - 06.2022</span>
						</p>
						<p style="margin-top:-15px;">
							B.E. in Computer Science
							<span style="float:right;">China</span>
						</p>
						<p style="margin-top:-15px;">
							Overall GPA: 4.0/4.0 (4.33/5.00), Rank: 1/187
						</p>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>