<div class="scholarships">
	<h2>scholarships</h2>
	<div class="table-responsive">
		<table class="table table-sm table-borderless">
			<tr>
				<td>
					<p style="text-align:left;">
						<b>China National Scholarship</b> (Top 1%), Ministry of Education of PRC
						<span style="float:right;">2019</span>
					</p>
					<p style="text-align:left;margin-top:-10px">
						<b>First-Prize Scholarship × 3</b> (Top 5%), Sun Yat-sen University
						<span style="float:right;">2019 & 2020 & 2021</span>
					</p>
				</td>
			</tr>
		</table>
	</div>
</div>