<div class="work">
	<h2>work experience</h2>
	<div class="table-responsive">
		<table class="table table-sm table-borderless">
			<tr>
				<td>
					<img style="float:left;" src="assets/img/google-logo.svg" alt="Google" width="70" height="70">
					<div style="margin-left:80px;">
						<p style="text-align:left;">
							<b>Google</b>, Connect Sales Platform, Ads
							<span style="float:right;">07.2021 - 11.2021</span>
						</p>
						<p style="margin-top:-15px;">
							Software Engineering Intern
							<span style="float:right;">Shanghai, China</span>
						</p>
						<p style="margin-top:-15px;">
							Finished a frontend and a static analysis project.
						</p>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>